<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/img/icon.png" type="image/x-icon"> <!-- Favicon -->
    <title>Psicóloga Bruna Santis</title>
</head>


<body>
    <header>
        <div>
            <h1>Bruna Santis | Psicóloga</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="sobre">
        <h2>Sobre Mim</h2>
        <img src="static/img/eu.jpeg" alt="Bruna Santis" class="foto-perfil">
        <p>"Olá, sou Bruna Santis, psicóloga dedicada e apaixonada pela análise do comportamento, com especialização na
            abordagem ABA (Análise Comportamental Aplicada). Minha missão é promover o bem-estar emocional e o
            desenvolvimento pessoal de meus clientes, criando um espaço onde possam se sentir acolhidos e seguros.

            Ao longo da minha carreira, tenho trabalhado com diversas pessoas que enfrentam desafios únicos em suas
            vidas. Acredito que cada indivíduo possui um potencial imenso e, por isso, meu foco é ajudá-los a superar
            barreiras, desenvolver habilidades essenciais e alcançar seus objetivos de forma efetiva.

            Utilizo técnicas e estratégias personalizadas, sempre respeitando o ritmo e as necessidades de cada um, para
            facilitar a transformação pessoal. Juntos, podemos explorar caminhos que levarão ao autoconhecimento, à
            resiliência e à realização plena. Estou aqui para acompanhá-lo nessa jornada de crescimento e descoberta."
        </p>
    </section>

    <section id="servicos">
        <h2>Serviços Oferecidos</h2>
        <p>Na minha prática, ofereço uma variedade de serviços para atender às necessidades de cada cliente. Abaixo
            estão algumas das modalidades de atendimento disponíveis:</p>
        <ul>
            <li><strong>Psicoterapia Individual:</strong> Um espaço seguro para explorar seus pensamentos e sentimentos,
                desenvolver autoconhecimento e trabalhar em direção a suas metas pessoais.</li>
            <li><strong>Aconselhamento:</strong> Orientação para lidar com questões específicas da vida, oferecendo
                suporte e estratégias práticas para enfrentar desafios cotidianos.</li>
            <li><strong>Atendimento a Casais:</strong> Sessões destinadas a melhorar a comunicação, resolver conflitos e
                fortalecer a conexão entre parceiros, promovendo um relacionamento mais saudável e satisfatório.</li>
        </ul>
    </section>


    <section id="contato">
        <h2>Contato</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>

            <button type="submit">Enviar</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Bruna Santis. Todos os direitos reservados.</p>
    </footer>
</body>

</html>